body {
  background-color: #bbb;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.uData-data {
  padding: 10px;
  max-width: 900px;
  margin: 18px auto;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
  background-color: #fff;

}

.uData-data .datasetsForm {
   border: 1px solid #ddd;
    padding: 10px 0;
}


.uData-data .datasetsForm form::after {
  display: block;
  content:"";
  clear: both;
}

.uData-data .datasetsForm div {
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    width: 33%;
}

