body {
  background-color: #bbb;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.Metaclic-data {
  padding: 10px;
  max-width: 900px;
  margin: 18px auto;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
  background-color: #fff;

}

.Metaclic-data ul.search-results .dataset {
 border: 1px solid #ddd;
 border-radius: 0;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Metaclic-data  ul.search-results div.dataset div.resources-list {
  background-color: #fff;
}

.Metaclic-data  .geojson_preview.card {
  box-shadow: none;
}


